$poppins: "Poppins", sans-serif;
$main-blue: #1983ff;
$darker-blue: #4255ff;
$white-blue: #aedbed;
$dark-gray: #6b7d8f;
$snow-blue: #dbeafe;
$font-black: #333333;
$font-black-secondary: rgb(0, 0, 0, 61%);
$font-gray: #828282;
$light-white: #e5e5e5;
$duration: 0.15s;
$background: #f0f4f8;
$transition: 0.3s ease-in-out all;
$error: #ff725b;
$light-border: #d9dde8;
$blue-gray: #646f90;
$blue-dark-gray: #586380;
$cart-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$thin-border: 0.0625rem;
